<h2 class="page-header" style="text-align: center;">
 Dashboard
</h2>
	<button type="button" id="init" class="btn btn-info row" data-toggle="collapse" data-target="#demo" onclick="display()">History</button>
<div id="demo" class="collapse">
  	<table class="table">
	  	<thead>
		  	<tr>
			  	<th>Item</th>
			  	<th>operation performed</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		{{#each history}}
		  	<tr>
			  	<td>{{this.item}}</td>
			  	<td>{{this.action}}</td>
		  	</tr>
		  	{{/each}}
	  	</tbody>
  	</table>
</div>
<div class="row">
	<div class="col-sm-6" style="border:solid;border-width: 1px;border-radius: 2px;padding-bottom: 83px;">
		<h3>Register New Item</h3>
		<form method="POST" action="/register/item">
			<div class="form-group">
			  <label>Item Name</label>
			  <input type="text" class="form-control" placeholder="Item Name" name="name">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-sm-6" style="border:solid;border-width: 1px;border-radius: 2px;padding-bottom: 10px;">
		<h3>Sell Item to Address</h3>
		<form method="POST" action="/sell/item">
			<div class="form-group">
			  <label>Item Name</label>
			  <input type="text" class="form-control" placeholder="Item Name" name="name">
			</div>
			 <div class="form-group">
			  <label>Receiver Address</label>
			  <input type="text" class="form-control" placeholder="Receiver Address" name="address">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<script type="text/javascript">
	let x = true;
	function display() {
		var demo = document.getElementById("demo");
		if(x){
			demo.classList.remove("collapse");
			x = false;
		}
		else{
			demo.classList.add("collapse");
			x = true;
		}
	}
</script>